<div class="login-status-header">

  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
    <button routerLink="/login" class="security-btn">Login</button>
  </ng-container>

  <ng-template #signout>
    <div  *ngIf="customer" class="login-status-user-info">
      Welcome back {{ customer.firstName + ' ' + customer.lastName }}!
    </div>
    <button (click)="logout()" class="security-btn">Logout</button>
    <button routerLink="/members" class="security-btn">Member</button>
    <button routerLink="/orders-history" class="security-btn">Orders</button>
  </ng-template>

</div>
